/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

//Quotes content
.site-content{
	position: relative;
	@include desktop{
		width: 650px;
		margin: 0 auto;
		&::before{
			content: "\f10d";
			font-family: FontAwesome;
			position: absolute;
			font-size: 125px;
			left: -170px;
			top: 0
		}
		&::after{
			content: "\f10e";
			font-family: FontAwesome;
			position: absolute;
			font-size: 125px;
			right: -170px;
			top: 0;
		}
	}
}

