/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/

blockquote, q {
	quotes: "" "";

	&:before,
	&:after {
		content: "";
	}
}

hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin-bottom: $base__space-unit;
}


dt {
	font-weight: bold;
}

dd {
	margin: 0 $base__space-unit $base__space-unit;
}

table {
	margin: 0 0 $base__space-unit;
	width: 100%;
}
