.site-footer{
  .site-info{
    padding: 20px;
    .menu{
      width: 320px;
      ul{
        margin: 0px;
        padding: 0px;
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        li{
          margin: 0;
          padding-right: 20px;
          a{
            color: $color__brand-green;
            text-decoration: none;
          }
        }
        li:first-child{
          border-right: $solid__border;
        }
        li:nth-child(2){
          border-right: $solid__border;
        }
      }
    }
    p{
      padding: 15px 0;
      a{
        text-decoration: none;
        color: $color__brand-green;
      }
    }
  }

  @include tablet{
    .site-info{
      width: 600px;
      padding: 20px 0;
      display: flex;
      justify-content: space-between;
      .menu{
        width: auto;
        ul{
          li{
            padding: 0 20px;
            border-right: $solid__border;
          }
          li:first-child{
            padding-left: 0;
          }
        }
      }
      p{
        padding: 0;
      }
    }
  }

  @include desktop{
      display: flex;
      justify-content: flex-end;
  }

}