/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

/* Buttons */

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 3px solid $color__brand-green;
	border-radius: 3px;
	background: none;
	color: $color__brand-green;
	font-size: 1rem;
	line-height: 1;
	padding: .6rem 1rem .4rem;
	margin: 10px 0;

	&:hover {
		border-color: white;
	}

	&:active,
	&:focus {
		border-color: #aaa #bbb #bbb;
		box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
	}
}

/* Fields */

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: white;
	border: 3px solid $color__brand-green;
	border-radius: 3px;

	&:focus {
		color: white;
		border: 3px solid white;
		outline: 0;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 3px;
	background: none;
}

textarea {
	padding-left: 3px;
	width: 100%;
	background: none;
}

label{
	display: block;
}

.quote-submission-wrapper{
	div{
		margin: 10px 0;
	}
}
