/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

/* Buttons */

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 3px solid $color__brand-green;
	border-radius: 3px;
	background: none;
	color: $color__brand-green;
	font-size: 1rem;
	line-height: 1;
	padding: .6rem 1rem .4rem;
	margin: 10px 0;

	&:hover {
		border-color: darken($color__brand-green, 15%);
		color: darken($color__brand-green, 15%);
	}

	&:active,
	&:focus {
		border-color: darken($color__brand-green, 15%);
		color: darken($color__brand-green, 15%);
		outline: none;
	}
}

/* Fields */

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: white;
	border: 3px solid $color__brand-green;
	border-radius: 3px;

	&:focus {
		color: white;
		border: 3px solid white;
		outline: 0;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 3px;
	background: none;
}

textarea {
	padding-left: 3px;
	width: 100%;
	background: none;
}

label{
	display: block;
}

.quote-submission-wrapper{
	div{
		margin: 10px 0;
	}
}

//Special styling for search bar
.search-form{
	border: none;
	fieldset{
		border:none;
		padding: 0;
		margin: 20px 0;
		position: relative;
		label{
			width: 260px;
			input{
				width: 100%;
			}
		}
		.search-submit{
			border:none;
			margin: 0;
			position: absolute;
			padding: 0;
			top: 8px;
			left: 285px;
			.icon-search{
				font-size: 1.2rem;
			}
		}
	}
}




